body {
    background-color: #cecfc6;
    background-image: url("images/sfv.png");
    background-repeat: repeat;
    color: aliceblue;
    font-family: "Josefin Sans", sans-serif;
    font-size: 22px;
}

.center {
    display: flex;
    left: 50%;
    align-items: center;
    justify-content: center;
}

.navbar-button {
    color: aliceblue;
    font-size: 24px;
    text-decoration: none;
    padding-left: 30px;
    padding-right: 30px;
    text-shadow: 2px 2px 4px #000000;
}

.navbar-button:hover {
    color: lightsalmon;
}

.navbar-button-small {
    color: aliceblue;
    font-size: 20px;
    text-decoration: none;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: -20px;
    text-shadow: 2px 2px 4px #000000;
}

.navbar-button-small:hover {
    color: lightsalmon;
}

.contentstrip-transparent {
    width: 1000px;
    left: 50%;
    margin-left: -540px;
    position: relative;
    text-align: justify;
    align-items: center;
    justify-content: center;
    display: flex;
    padding-left: 40px;
    padding-right: 40px;
}

.contentstrip-main {
    background-color: #544;
    width: 1000px;
    left: 50%;
    margin-left: -540px;
    position: relative;
    text-align: justify;
    align-items: center;
    justify-content: center;
    display: flex;
    padding-left: 40px;
    padding-right: 40px;
    text-shadow: 1px 1px 2px #000000;
}

.contentstrip-sub {
    background-color: #655;
    width: 1000px;
    position: relative;
    left: 50%;
    margin-left: -540px;
    text-align: justify;
    align-items: center;
    justify-content: center;
    display: flex;
    padding-left: 40px;
    padding-right: 40px;
    text-shadow: 1px 1px 2px #000000;
}
